[bluechi-agent]
NodeName={{ agent_node_name | default(inventory_hostname) }}
{%if agent_controller_address is defined %}
ControllerAddress={{ agent_controller_address }}
{%endif%}
{%if agent_controller_host is defined %}
ControllerHost={{ agent_controller_host }}
{%endif%}
{%if agent_controller_port is defined %}
ControllerPort={{ agent_controller_port }}
{%endif%}
